@use '../mixins/responsive.scss' as *;

html {
}
body {
  // background-image: url('/assets/image/cat.jpg');
  background-color: var(--dark);
  color: var(--text-color);
  font-family: arial;
}
.body {
  display: flex;
  flex-direction: column;
  @include responsive(desktop) {
    flex-direction: row;
  }
}
