.gallery{
    &__image{
        background-color: rgb(1, 70, 108);
        width: 320px;
        height: 200px;
        border-radius: 1rem;
        position: relative;
    }
    &__check{
        width: 40px;
        height: 40px;
        background-color: var(--light);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    &__info{
        display: flex;
        gap: 0.6rem;
        padding-left: 0.9rem;
        position: absolute;
        bottom: 30px;
    }
    &__movie{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &--img{
            width: 20px;
            height: 20px;
        }
    }
    &__title{
        font-size: 1.2rem;
        padding-left: 0.9rem;
        position: absolute;
        bottom: 10px;
    }
}